[submodule "django-material-datetime-picker/static/md-date-time-picker"]
	path = django-material-datetime-picker/static/md-date-time-picker
	url = https://github.com/puranjayjain/md-date-time-picker.git
