{% include "django/forms/widgets/input.html" %}
<script>
  var dateInputComponent = document.getElementById("{{ widget.attrs.id }}");
  var DateDialog = new mdDateTimePicker.default({
    type: 'date',
    orientation: 'PORTRAIT',
    past: moment().subtract(1000, 'years'),
    future: moment().add(1000, 'years')
  });
  DateDialog.trigger = dateInputComponent;
  dateInputComponent.addEventListener('click', function(event) {
    DateDialog.toggle();
  });
  dateInputComponent.addEventListener('onOk', function() {
    this.value = DateDialog.time.format("{{ widget.attrs.format }}").toString();
  });
</script>
